.pages{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.chip:Hover{
  background-color: var(--eerie-black) ;
  color: white;
}
/* .paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
} */

.paginationBttns {
  padding: 8px;
  
  text-align: center;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--salmon-pink);
  color: var(--salmon-pink);
  cursor: pointer;
}

.activePage  {
  color: white;
  background: var(--salmon-pink);
}

.disable {
  background-color: var(--cultured);
  color: var(--spanish-gray);
  border: 1px solid var(--spanish-gray);

}
.disable:hover{
  background-color: var(--cultured);
  color: var(--spanish-gray);
  pointer-events: none;
}
/* .paginationBttns a {
  padding: 8px;
  
  text-align: center;
  margin: 10px;
  height: 100%;
  width: 80%;
  border-radius: 50%;
  border: 1px solid var(--salmon-pink);
  color: var(--salmon-pink);
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: var(--eerie-black);
}



.paginationDisabled a {
  color: var(--eerie-black);
  background-color: var(--cultured);
} */